spring:
  main:
    banner-mode: log
  h2:
    console:
      enabled: true
      path: /h2
  datasource:
    url: jdbc:h2:file:/Users/mfedechko/workspace/rsavto/categories/folders/db/sample
    username: sa
    password:
    driverClassName: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: update

server:
  port: 8081

management:
  endpoint:
    env:
      show-values: always
  endpoints:
    web:
      exposure:
        include: "health,info,env"

files:
  inputFolder: ""
  outputFolder: ""
  photosDir: ""

data:
  phoneNumber: 111